@font-face {
	font-family: 'FiraSans-Bold';
	src: url('Fira Sans/EOT/FiraSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Bold.svg#svgFiraSans-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-BoldItalic';
	src: url('Fira Sans/EOT/FiraSans-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-BoldItalic.svg#svgFiraSans-BoldItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Book';
	src: url('Fira Sans/EOT/FiraSans-Book.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Book.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Book.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Book.svg#svgFiraSans-Book') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-BookItalic';
	src: url('Fira Sans/EOT/FiraSans-BookItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-BookItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-BookItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-BookItalic.svg#svgFiraSans-BookItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Eight';
	src: url('Fira Sans/EOT/FiraSans-Eight.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Eight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Eight.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Eight.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Eight.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Eight.svg#svgFiraSans-Eight') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-EightItalic';
	src: url('Fira Sans/EOT/FiraSans-EightItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-EightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-EightItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-EightItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-EightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-EightItalic.svg#svgFiraSans-EightItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-ExtraBold';
	src: url('Fira Sans/EOT/FiraSans-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-ExtraBold.svg#svgFiraSans-ExtraBold') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-ExtraBoldItalic';
	src: url('Fira Sans/EOT/FiraSans-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-ExtraBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-ExtraBoldItalic.svg#svgFiraSans-ExtraBoldItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-ExtraLight';
	src: url('Fira Sans/EOT/FiraSans-ExtraLight.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-ExtraLight.svg#svgFiraSans-ExtraLight') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-ExtraLightItalic';
	src: url('Fira Sans/EOT/FiraSans-ExtraLightItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-ExtraLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-ExtraLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-ExtraLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-ExtraLightItalic.svg#svgFiraSans-ExtraLightItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Four';
	src: url('Fira Sans/EOT/FiraSans-Four.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Four.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Four.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Four.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Four.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Four.svg#svgFiraSans-Four') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-FourItalic';
	src: url('Fira Sans/EOT/FiraSans-FourItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-FourItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-FourItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-FourItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-FourItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-FourItalic.svg#svgFiraSans-FourItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Hair';
	src: url('Fira Sans/EOT/FiraSans-Hair.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Hair.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Hair.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Hair.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Hair.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Hair.svg#svgFiraSans-Hair') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-HairItalic';
	src: url('Fira Sans/EOT/FiraSans-HairItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-HairItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-HairItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-HairItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-HairItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-HairItalic.svg#svgFiraSans-HairItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Heavy';
	src: url('Fira Sans/EOT/FiraSans-Heavy.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Heavy.svg#svgFiraSans-Heavy') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-HeavyItalic';
	src: url('Fira Sans/EOT/FiraSans-HeavyItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-HeavyItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-HeavyItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-HeavyItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-HeavyItalic.svg#svgFiraSans-HeavyItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Italic';
	src: url('Fira Sans/EOT/FiraSans-Italic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Italic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Italic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Italic.svg#svgFiraSans-Italic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Light';
	src: url('Fira Sans/EOT/FiraSans-Light.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Light.svg#svgFiraSans-Light') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-LightItalic';
	src: url('Fira Sans/EOT/FiraSans-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-LightItalic.svg#svgFiraSans-LightItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Medium';
	src: url('Fira Sans/EOT/FiraSans-Medium.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Medium.svg#svgFiraSans-Medium') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-MediumItalic';
	src: url('Fira Sans/EOT/FiraSans-MediumItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-MediumItalic.svg#svgFiraSans-MediumItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Regular';
	src: url('Fira Sans/EOT/FiraSans-Regular.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Regular.svg#svgFiraSans-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-SemiBold';
	src: url('Fira Sans/EOT/FiraSans-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-SemiBold.svg#svgFiraSans-SemiBold') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-SemiBoldItalic';
	src: url('Fira Sans/EOT/FiraSans-SemiBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-SemiBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-SemiBoldItalic.svg#svgFiraSans-SemiBoldItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Thin';
	src: url('Fira Sans/EOT/FiraSans-Thin.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Thin.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Thin.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Thin.svg#svgFiraSans-Thin') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-ThinItalic';
	src: url('Fira Sans/EOT/FiraSans-ThinItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-ThinItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-ThinItalic.svg#svgFiraSans-ThinItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Two';
	src: url('Fira Sans/EOT/FiraSans-Two.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Two.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Two.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Two.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Two.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Two.svg#svgFiraSans-Two') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-TwoItalic';
	src: url('Fira Sans/EOT/FiraSans-TwoItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-TwoItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-TwoItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-TwoItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-TwoItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-TwoItalic.svg#svgFiraSans-TwoItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-Ultra';
	src: url('Fira Sans/EOT/FiraSans-Ultra.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-Ultra.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-Ultra.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-Ultra.svg#svgFiraSans-Ultra') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-UltraItalic';
	src: url('Fira Sans/EOT/FiraSans-UltraItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-UltraItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-UltraItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-UltraItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-UltraItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-UltraItalic.svg#svgFiraSans-UltraItalic') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-UltraLight';
	src: url('Fira Sans/EOT/FiraSans-UltraLight.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-UltraLight.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-UltraLight.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-UltraLight.svg#svgFiraSans-UltraLight') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'FiraSans-UltraLightItalic';
	src: url('Fira Sans/EOT/FiraSans-UltraLightItalic.eot'); /* IE9 Compat Modes */
	src: url('Fira Sans/EOT/FiraSans-UltraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	      url('Fira Sans/WOFF2/FiraSans-UltraLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
             url('Fira Sans/WOFF/FiraSans-UltraLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
             url('Fira Sans/TTF/FiraSans-UltraLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fira Sans/SVG/FiraSans-UltraLightItalic.svg#svgFiraSans-UltraLightItalic') format('svg'); /* Legacy iOS */
}
