:root {
	--gray0: #251D18;
	--gray1: #503f34;
	--gray2: #7b6251;
	--gray3: #a48774;
	--gray4: #ebe6e0;
	--gray5: #f5f2ef;
	--gray6: #FBFAF9;
	--cyan: #2C666E;
	--bright-cyan: #107E7D;
	--blue: #9E0101;
	--bright-blue: #1C7293;
	--red: #035E7B;
	--bright-red: #C18C5D;
	--yellow: #FFA737;
	--green: #885A89;
	--magenta: #297373;
}
