<div class="container">
		<div id="head">
			<a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/icon.svg" style="display: inline; margin:0px; vertical-align: middle; height: calc(1.0625rem + 8px); margin-right: 4px"><b>Brandon Gong</b></a>
			<div>
        <a href="{{ site.baseurl }}/info">info</a>
        <a href="{{ site.baseurl }}/notes">notes</a>
			  <a href="{{ site.baseurl }}/portfolio">portfolio</a>
			  <a href="{{ site.baseurl }}/gallery">gallery</a>
      </div>
		</div>
</div>
