:root {
  --bg: #f8f8f4;
	--fg: #231f20;
	--accent: #f5c0b3;
}

::selection {
  background: #f6dcd4;
}
::-moz-selection {
  background: #f6dcd4;
}

img {
	user-select: none;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

nav {
	transition: 0.5s;
	position: fixed !important;
	top: 0;
	width: 100%;
}

.navbar {
	padding: 3rem 6rem;
}

.navbar a {
	font-weight: 400;
	margin-left: 4rem;
	transition: 0.5s;
	transition: color 0s;
	font-size: 1rem;
}

.navbar a:hover {
	text-decoration: underline;
	color: rgba(0,0,0,.5);
}

h1 {
	font-family: 'Gloock', 'Times New Roman', Times, serif;
	font-size: 6rem;
	line-height: 7rem;
	margin: 0;
}

h3 {
	font-family: 'Gloock', 'Times New Roman', Times, serif;
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 1.5rem;
	margin-top: 18rem;
	margin-bottom: 2rem;
}

#hands-wrapper {
	position: relative;
	width: 100vw;
	height: 85vw;
	z-index: -1;
	margin-top: -20vw;
	margin-bottom: -24vw;
}

#hands {
	width: 100%;
}

.btn-outline-primary {
	margin: 0.5rem;
	border-radius: 0;
	border: 0.15rem solid var(--accent);
	color: var(--fg);
}

.btn-outline-primary:hover {
	background-color: var(--accent);
	border: 0.15rem solid var(--accent);
	color: var(--fg);
}

.btn-outline-primary:active {
	background-color: var(--accent) !important;
	color: var(--fg) !important;
	border: 0.15rem solid var(--accent) !important;
}

#learn-more {
	margin-top: 4rem;
}

#learn-more > svg {
	width: 1rem;
	height: 1rem;
}

#learn-more > p {
	margin-bottom: 5px;
}

#about, #guests, #volunteers {
	min-height: 100vh;
	padding: 2rem;
}

p {
	font-size: 1.2rem;
	margin-bottom: 1.2rem;
	width: 100%;
}
b {
	font-weight: 700;
}

#about-spacer > svg {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
}
#about-spacer {
	margin-bottom: 1.5rem;
}

iframe {
	border:10px solid #f5c0b3;
	width: 60%;
	height: 25rem;
	margin-bottom: 1rem;
}

.separator {
	width: 40px;
	height: 10px;
	background-color: var(--accent);
	margin: 3rem;
}

#volunteers a {
	color: var(--accent);
	font-weight: 700;
}

a:hover {
	color: #ed8f78;
}

#contact {
	min-height: 50vh;
	padding: 2rem;
}
#socials {
	display: flex;
	flex-direction: row;
}
#socials svg {
	height: 6rem;
	width: 6rem;
	margin: 2rem;
}

#footer {
	width: 100%;
	background-color: var(--fg);
	padding: 3rem 6rem;
	display: flex;
	flex-direction: row;
}

#footer > img {
	width: 8rem;
	margin-right: 6rem
}

#footer-text {
	flex-grow: 1;
	color: var(--bg);
}

#stlm, #stlm:hover {
	color: var(--fg);
	text-decoration: none;
}
#stlm:hover {
	font-weight: 700;
}

#footer-text a {
	text-decoration: underline;
	font-weight: 400;
	color: var(--bg);
}

#footer-text p {
	font-size: 1rem;
	margin: 0;
	text-align: center;
}

nav.nav-scrolled {
	background-color: var(--accent);
	padding: 1rem 2rem;
}

.nav-scrolled a {
	margin-left: 2rem;
}

.navbar-brand > img {
	width: 8rem;
	transition: 0.5s;
}

a.navbar-brand {
	margin-left: 0;
}


.nav-scrolled img {
	width: 3rem !important;
}

@media (max-width: 992px) {
	.navbar {
		padding: 1rem 2rem;
	}

	.navbar-brand > img {
		width: 3rem;
		transition: 0.5s;
	}
	.navbar a {
		margin-left: 0;
	}
	iframe {
		width: 100%;
	}
	h1 {
		font-size: 4rem;
		line-height: 4.7rem;
	}
	#socials {
		flex-direction: column !important;
	}
	#footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#footer img {
		margin-bottom: 2rem;
		margin-right: 0;
	}
}
